.header {
  /* background-color: #00a6ff; */
  position: sticky;

  grid-column: 1 / -1;

  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
}

.search_box {
  /* background-color: lightcoral; */
  height: 30px;
  /* justify-self: stretch; */
  flex: 1;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.search_box input {
  background-color: var(--foreground-color);
  border: none;
  outline: none;
  border-radius: 100px;
  padding: 0.8rem 1rem;
  color: var(--light-text-color);

  flex: 1;
}

.search_box input::placeholder {
  color: var(--gray-text-color);
  font-size: 0.8rem;
}

.add_city_btn,
.seach_btn {
  background-color: var(--primary-color);
  color: var(--light-text-color);
  font-weight: 600;
  border: none;
  border-radius: 100px;
  cursor: pointer;
}

.add_city_btn {
  padding: 0.8rem 2.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2px;
}

.seach_btn {
  padding: 0.8rem 1rem;
}

.profile_box {
  /* background-color: var(--foreground-color); */
  height: 30px;
  width: 100px;

  display: flex;
  flex: 1;
  align-items: center;
  justify-content: flex-end;
  gap: 3rem;
}

@media (max-width: 800px) {
  .header {
    /* grid-column: 1 / -1; */

    justify-content: flex-start;
    /* padding: 0 1rem; */
  }

  .profile_box {
    gap: 1rem;
  }

  .add_city_btn {
    padding: 0.6rem 1rem;
  }
}

@media (max-width: 500px) {
  .add_city_btn {
    padding: 0;
    height: 35px;
    width: 35px;
    font-weight: 600;
  }

  .add_city_btn span:first-child {
    font-size: 1.5rem;
  }

  .add_city_btn span:last-child {
    display: none;
  }
}
