.main {
  padding: 1rem;
}

.error_box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  padding: 1rem;
}

/* .error_box div {
  background-color: var(--foreground-color);
  width: 8rem;
  height: 8rem;
} */

.error_box img {
  width: 100%;
}

.error_box h2 {
  font-size: 2.3rem;
}
.error_box p {
  color: var(--gray-text-color);
  font-size: 1rem;
}

.primary_header_box {
  margin-bottom: 1rem;
}

.primary_header {
  color: var(--gray-text-color);
  font-size: 1.2rem;
  text-transform: uppercase;
}

.today_details_box {
  margin-bottom: 1rem;
}

.today_weather_box {
  background-color: var(--foreground-color);
  padding: 1rem 1.5rem;
  border-radius: 20px;
  max-width: 40rem;

  display: flex;
  justify-content: space-between;
}

.today_weather_box .day_box {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.today_weather_box .day_box h3 {
  font-size: 1.8rem;
  color: var(--white-text-color);
}

.today_weather_box .day_box p {
  color: var(--gray-text-color);
  font-size: 0.8rem;
}

.day_box div p:first-child {
  margin-bottom: 0.2rem;
}

/* .day_location_details .city_box {
  margin-top: -6px;
} */

.today_weather_box .temp {
  color: var(--light-text-color);
  font-size: 5.5rem;
  font-weight: 600;
  position: relative;
}

.today_weather_box .temp::before {
  content: "0";
  display: inline-block;
  color: var(--light-text-color);
  font-size: 0.8rem;
  font-weight: 400;
  position: absolute;

  top: 10px;
  right: -2px;
}

.today_weather_box .temp::after {
  content: "c";
  display: inline-block;
  color: var(--light-text-color);
  font-size: 2rem;
  font-weight: 300;
  position: absolute;

  top: 4px;
  right: -14px;
}

.today_weather_box .location,
.today_weather_box .temp_text {
  color: var(--gray-text-color);
}

.today_weather_box .location {
  font-size: 0.8rem;
}

.temp_text {
  margin-left: 0.5rem;
  font-size: 0.9rem;
}

.big_weather_img_box img,
.small_weather_img_box img {
  width: 100%;
}

.big_weather_img_box {
  height: 8rem;
  width: 8rem;
}

.small_weather_img_box {
  height: 3rem;
  width: 3rem;
}

.next_days_details_box {
  display: flex;
  gap: 0.5rem;
}

.next_days_details_box .day_details {
  background-color: var(--foreground-color);
  border-radius: 20px;
  padding: 1rem 1.5rem;
  flex: 1;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.next_days_details_box .day_details.active {
  background-color: var(--primary-color);
}

.next_days_details_box .day {
  color: var(--gray-text-color);
  margin-bottom: 1rem;
  position: relative;
}

.next_days_details_box .day.active {
  color: var(--light-text-color);
}

.next_days_details_box .day::after {
  content: "";
  display: inline-block;
  background-color: var(--gray-text-color);
  height: 1px;
  width: 42px;
  position: absolute;

  left: 50%;
  bottom: -4px;
  transform: translateX(-50%);
}

.next_days_details_box .temp {
  font-size: 1.8rem;
  font-weight: 600;
  position: relative;
}

.next_days_details_box .temp::before {
  content: "0";
  display: inline-block;
  color: var(--light-text-color);

  font-weight: 400;
  position: absolute;
  font-size: 0.4rem;

  top: 2px;
  right: -2px;
}

.next_days_details_box .temp::after {
  content: "c";
  display: inline-block;
  color: var(--light-text-color);
  font-size: 1.2rem;
  font-weight: 300;
  position: absolute;

  top: -4px;
  right: -10px;
}

@media (max-width: 800px) {
  .main,
  .error_box {
    padding: 0 1rem;
    grid-column: 1 / -1;
    grid-row: 2 / 3;
  }

  .primary_header_box {
    margin-bottom: 0.5rem;
  }

  .primary_header {
    font-size: 1rem;
  }

  /* .day_location_details .city_box {
    margin-top: -8px;
  } */

  .today_weather_box {
    padding: 1rem 1.5rem;

    display: flex;
    justify-content: space-between;
  }

  .today_weather_box .day_box {
    gap: 0.5rem;
  }

  .today_weather_box .day_box h3 {
    font-size: 1.6rem;
  }

  .today_weather_box .location {
    font-size: 0.7rem;
  }

  .today_weather_box .temp {
    font-size: 3.5rem;
  }

  .today_weather_box .temp::before {
    font-size: 0.6rem;

    top: 8px;
    right: -1px;
  }

  .today_weather_box .temp::after {
    font-size: 1.5rem;

    top: 2px;
    right: -12px;
  }

  .next_days_details_box .day_details {
    padding: 0.8rem;
    gap: 0.2rem;
  }

  .next_days_details_box .temp {
    font-size: 1.2rem;
    font-weight: 400;
  }

  .next_days_details_box .temp::before {
    font-size: 0.3rem;

    top: -1px;
    right: -2px;
  }

  .next_days_details_box .temp::after {
    font-size: 0.9rem;

    top: -5px;
    right: -9px;
  }

  .next_days_details_box .day::after {
    width: 36px;
  }

  .big_weather_img_box {
    height: 6rem;
    width: 6rem;
  }

  .small_weather_img_box {
    height: 2rem;
    width: 2rem;
  }
}

@media (max-width: 450px) {
  .next_days_details_box .day_details {
    padding: 0.7rem;
  }
}
