:root {
  --primary-color: #0176ff;
  --background-color: #27242d;
  --foreground-color: #312e3a;
  --hover-foreground-color: #545162;
  --gray-text-color: #bab7c7;
  --light-text-color: #f7f6fb;
  --white-text-color: #ffffff;
  --error-background: #ffd4d4;
  --error-color: #ff2b2b;

  --line-height: 1.5;
  --font-weight: 400;
}

[data-theme="dark"] {
  --primary-color: #0176ff;
  --background-color: #27242d;
  --foreground-color: #312e3a;
  --hover-foreground-color: #545162;
  --gray-text-color: #bab7c7;
  --light-text-color: #f7f6fb;
  --white-text-color: #ffffff;
  --error-background: #ffd4d4;
  --error-color: #ff2b2b;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* --------- GENERAL STYLES ---------- */
.primary-header-box {
  margin-bottom: 1rem;
}

.primary_header {
  color: var(--white-text-color);
}

h3 {
  color: var(--light-text-color);
}

.degree {
  position: relative;
}

/* --------- APP ---------- */

.app {
  display: grid;
  height: 100vh;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  background-color: var(--background-color);
  color: var(--light-text-color);

  display: grid;
  grid-template-columns: 1fr auto;
  grid-template-rows: 10vh;
  column-gap: 1rem;
}

@media (max-width: 800px) {
  .app {
    grid-template-columns: 1fr 1fr;
    column-gap: normal;
  }
  .primary-header-box {
    margin-bottom: 0.5rem;
  }

  .primary_header {
    font-size: 1.3rem;
  }
}
